.container{
  border:5px  solid#333;
  margin: 10px auto;
  width:500px;
  border-radius:15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  font-family: Inter,sans-serif;
}
img{
  width:500px;
  height:400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.info{
  text-align: center;
}
.info h1{
  margin-bottom: 0;
  padding-top:0;
}
.info h3 {
  color: #F3BF99;
  margin-top: 0;
  font-weight: 400;
}

.info a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.info a:hover,
.info a:focus {
  color: gray;
}
.buttons{
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
}
button {
  border: none;
  min-width: 115px;
  height: 34px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  cursor: pointer;
}

.buttons {
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
}

i {
  margin: 0 5px;
}

#btn-email {
  color: #374151;
}

#btn-email:hover,
#btn-email:focus {
  color: white;
  background-color: #374151;
}

#btn-linkedin {
  color: white;
  background-color: #5093E2;
}

#btn-linkedin:hover,
#btn-linkedin:focus {
  color: #5093E2;
  background-color: white;
}
#about,
#interests {
  font-weight: 200;
  letter-spacing: 1px; 
  margin-top: 40px;
  margin-left:10px;
}

#about h4,
#interests h4 {
  margin-bottom: 0;
}

#interests {
  margin-bottom: 50px;
}
footer {
  width: 500PX;
  height: 64px;
  margin-left: 0px;
  background-color: #161619;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  margin: 0 15px;
}

footer i:hover,
footer i:focus {
  color: gray;
  cursor: pointer;
}